# openhab service
# sudo ln -s /mnt/raid/openhab/openhab.service /usr/lib/systemd/system/openhab.service
# sudo systemctl enable openhab.service
# sudo systemctl start openhab.service
# sudo systemctl status openhab.service

[Unit]
Description=openhab service
After=network.target docker.service
ConditionPathIsMountPoint=/mnt/raid

[Service]
Type=simple
WorkingDirectory=/mnt/raid/openhab
ExecStart=/usr/bin/docker compose -f /mnt/raid/openhab/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /mnt/raid/openhab/docker-compose.yml down
StandardInput=tty-force
StandardOutput=file:/var/log/openhab.log
StandardError=file:/var/log/openhab.log
Restart=always

[Install]
WantedBy=multi-user.target
