# jenkins service
# sudo ln -s /mnt/raid/jenkins/jenkins.service /usr/lib/systemd/system/jenkins.service
# sudo systemctl enable jenkins.service
# sudo systemctl start jenkins.service
# sudo systemctl status jenkins.service

[Unit]
Description=jenkins service
Requires=network.target
Requires=docker.service
After=docker.service
ConditionPathIsMountPoint=/mnt/raid

[Service]
Type=exec
WorkingDirectory=/mnt/raid/jenkins
ExecStart=/usr/bin/docker compose -f /mnt/raid/jenkins/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /mnt/raid/jenkins/docker-compose.yml down
StandardInput=tty-force
StandardOutput=file:/var/log/jenkins.log
StandardError=file:/var/log/jenkins.log
Restart=always

[Install]
WantedBy=multi-user.target
