# nginx service
# copy to /usr/lib/systemd/system
# sudo systemctl enable nginx.service
# sudo systemctl start nginx.service
# sudo systemctl status nginx.service

[Unit]
Description=nginx service
Requires=network.target
Requires=docker.service
After=docker.service
ConditionPathIsMountPoint=/mnt/raid

[Service]
Type=simple
WorkingDirectory=/mnt/raid/nginx
ExecStart=/usr/bin/docker-compose -f /mnt/raid/nginx/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /mnt/raid/nginx/docker-compose.yml down
StandardInput=tty-force
StandardOutput=file:/var/log/nginx.log
StandardError=file:/var/log/nginx.log
Restart=always

[Install]
WantedBy=multi-user.target
